@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: inherit;
  height: inherit;
}

table tr > * {
  @apply whitespace-nowrap;
}

table thead th {
  @apply px-2 py-3 text-left text-xs text-slate-500 tracking-wider;
}

table tbody tr:nth-child(even) {
  @apply bg-slate-50;
}

table tbody tr:hover {
  @apply bg-slate-100;
}

table tbody th,
table tbody td {
  @apply px-2 py-3;
}

.dark {
  background: url("/bg.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.dark .text-indigo-600,
.dark a {
  fill: white;
  color: white;
}

.dark > .bg-slate-100,
.dark > .bg-white {
  background-color: transparent;
}

.dark a:hover {
  fill: #999;
  color: #999;
}
